progress {
  width: 140px;
  height: 12px;
  display: block;
  border-radius: 5px;

  &::-webkit-progress-bar {
    border-radius: 5px;
    border: 1px solid $primaryColor;
    background-color: $backgroundColor;
    box-shadow: 0 5px 5px -5px rba(0, 0, 0, 0.5) inset;
  }

  &::-webkit-progress-value {
    background-color: $primaryColor;
    box-shadow: 0 5px 5px -5px #999 inset;
  }
}
