table {
  width: 100%;
  color: $color;
  margin-bottom: 3rem;
  border-collapse: collapse;

  caption {
    color: $color;
    padding-top: 0;
    text-align: left;
    caption-side: top;
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 1em;
  }

  thead {
    tr {
      th {
        padding: 5px;
        border: 1px solid;
        text-align: inherit;
        vertical-align: bottom;
      }
    }
  }

  tbody,
  tfoot {
    tr {
      td {
        padding: 5px;
        border: 1px solid;
        vertical-align: top;
      }
    }
  }
}
